.jumbotron{
    /* background-color: rgb(63, 166, 235); */
    background: linear-gradient(rgb(63, 166, 235) , rgb(33, 147, 223));
    color: white;
    border-radius: 0;
}
.slider{
    height: 25px;
    background-color: chartreuse;
}
.percentage{
    padding: 5px;
    text-align: center;
    background-color: rgb(63, 166, 235);
    color: white;
}